body, html {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
}

.container-header {
    background-image: url("mobile-email-template-1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-color: #21DBFD;
    color: rgb(220, 80, 255);
    font-family: 'Quando', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 20%;
    max-height: auto;
    height: auto;
}

.btn-lg {
    margin: 10px;
    background-color: #FF69B4;
    color: #fff;
}

h2 {
    font-size: 5rem;
}

.container-info {
    min-height: 34vh;
    text-align: center;
    background-color: #00D8F0;
    color: #FF69B4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-img {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    object-fit: none;
}

.container-grid {
    margin: 0;
    padding: 0;
    background-color: #05B5E6;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.container-form {
    margin: 0;
    padding: 0;
    min-height: 50vh;
    min-height: 50%;
    background-color: #E0FFFF;
    color: #007986;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.img-icon {
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.container-footer {
    min-height: 6vh;
    max-width: 100%;
    height: auto;
    color: #fff;
    background-color: #1EB0A9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}